<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="bigdata.dto" alias="bigdata"/>
		<typeAlias type="fundamental.dto" alias="fundamental"/>
		<typeAlias type="technical.dto" alias="technical"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/bigdataMapper.xml"/>
		<mapper resource="mapper/fundamentalMapper.xml"/>
		<mapper resource="mapper/technicalMapper.xml"/>
		
	</mappers>
</configuration>