<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="fundamental.dto.BpsDTO" alias="FundamentalDTO"/>
		<typeAlias type="fundamental.dto.EpsDTO" alias="FundamentalDTO"/>
		<typeAlias type="fundamental.dto.EnterpriseFinanceDTO" alias="FundamentalDTO"/>
		<typeAlias type="fundamental.dto.EnterpriseTotalDTO" alias="FundamentalDTO"/>
		<typeAlias type="fundamental.dto.StockCloseWDTO" alias="FundamentalDTO"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/FundamentalMapper.xml"/>
	</mappers>
</configuration>