<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="stock.fundamental">
	<!-- 종목코드 리스트 -->
	<select id="codeList" resultType="EnterpriseTotalDTO">
		select * from enterprise_total
	</select>
	<!-- 종목코드, 종목명, 주식총수 리스트 -->
	<select id="totalList" resultType="EnterpriseTotalDTO" parameterType="String">
		select * from enterprise_total where code =#{code} 
	</select>
	<!-- 종목코드, 종가, 날짜(주단위) 리스트 -->
	<select id="closeList" resultType="EnterpriseTotalDTO" parameterType="String">
		select * from stockclose_w where code =#{code} order by code asc, week asc
	</select> 
	<!-- 기업 재무정보 리스트-->
	<select id="enterpriseFinance" resultType="EnterpriseFinanceDTO" parameterType="String">
		select DISTINCT t.name, f.* from ENTERPRISE_TOTAL t, ENTERPRISE_FINANCE f where t.code=f.code and f.code=#{f.code}
	</select>
	<!-- 기업 종가 -->
	<select id="stockClose" resultType="StockCloseWDTO">
		select * from StockClose_W
	</select>
	
	<!-- BPS계산을 위한 기업정보 -->
<!-- 	<select id="enterpriseFinance_BPS" resultType="fundamentalDTO" parameterType="String">
		select DISTINCT t.name, f.* from ENTERPRISE_TOTAL t, ENTERPRISE_FINANCE f where t.code=f.code, f.code =#{code}
	</select> 
-->

	<!-- EPS계산을 위한 기업정보 -->
<!-- 	<select id="EnterpriseFinance_EPS" resultType="fundamentalDTO" parameterType="String">
		select DISTINCT t.name, f.* from ENTERPRISE_TOTAL t, ENTERPRISE_FINANCE f where t.code=f.code, f.code =#{code}
	</select> 
-->

</mapper>
	
	<!--
 	//Left 기업리스트
	public static String Ent_List =
			"select code, name from enterprise_total where code='000020'";
	//PBR PER밴드 차트 (*간단한 기업정보 포함)
	public static String Ent_Finance =
			"select * from ENTERPRISE_TOTAL t, ENTERPRISE_FINANCE f where t.code=f.code";
	//PBR PER밴드 차트 종가
	public static String Ent_Close =
			"select * from StockClose_W"; 
	-->
	